<ul class="nav nav-pills flex-column">
    @*<li class="nav-item"><a class="nav-link" id="profile" asp-action="Index" asp-controller="Staff">Dashboard</a></li>*@
    <li class="nav-item"><a class="nav-link" id="email" asp-action="Appointments" asp-controller="Staff">Appointments</a></li>
    <li class="nav-item"><a class="nav-link" id="customers" asp-action="ManageCustomers" asp-controller="Staff">Manage Customers</a></li>
    <li class="nav-item"><a class="nav-link" id="staff" asp-action="ManageStaff" asp-controller="Staff">Manage Staff</a></li>
    <li class="nav-item"><a class="nav-link" id="services" asp-action="ManageServices" asp-controller="Staff">Manage Services</a></li>
    <li class="nav-item"><a class="nav-link" id="animals" asp-action="ManageAnimals" asp-controller="Staff">Manage Animals</a></li>
    <li class="nav-item"><a class="nav-link" id="animals" asp-action="Newsletter" asp-controller="Staff">Newsletter</a></li>
    <li class="nav-item"><a class="nav-link" id="animals" asp-action="Feedback" asp-controller="Staff">Feedback</a></li>
@*    <li class="nav-item"><a class="nav-link" id="change-password" asp-page="./ChangePassword">Password</a></li>
    <li class="nav-item"><a class="nav-link" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link" id="personal-data" asp-page="./PersonalData">Personal data</a></li>*@
</ul>
