@model IEnumerable<PurrfectPartners.Areas.Identity.Data.Animal>

@{
    ViewData["Title"] = "ManageAnimals";
    Layout = "~/Views/Staff/_Layout.cshtml";
    var statusMessage = TempData["StatusMessage"];
}

<h1>Manage Animals</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a onclick="return confirm('Are you sure you want to remove this animal record, by doing so all appointments under this animal type wll be removed!')"
                asp-action="DeleteAnimal" asp-route-id="@item.Id" class="text-danger">Remove</a>
            </td>
        </tr>
}
    </tbody>
</table>
<h4>New Animal</h4>
<partial name="_StatusMessage" model="statusMessage" />
<form asp-action="AddAnimal" asp-controller="Staff" method="post">
    <div class="form-group">
        <label for="name" class="control-label">Animal Name</label>
        <input name="name" type="text" class="form-control" />
    </div>
    <div class="form-group mt-3">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
