@{
    ViewData["Title"] = "Animals List";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Animals List</h1>
    <p class="lead">Discover the adorable companions we can help you train!</p>
</div>
<hr />

<div class="container my-5">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img src="https://i.natgeofe.com/n/ed24e098-5bf4-4273-adca-37986a08536c/NationalGeographic_2731045.jpg?w=1280&h=854" class="card-img-top" alt="Dog">
                <div class="card-body">
                    <h5 class="card-title">Dogs</h5>
                    <p class="card-text">Man's best friend, loyal and trainable.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img src="https://img.freepik.com/premium-photo/cute-funny-little-kitten-purple-background_106368-4649.jpg" class="card-img-top" alt="Cat">
                <div class="card-body">
                    <h5 class="card-title">Cats</h5>
                    <p class="card-text">Independent and charming, with unique personalities.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img src="https://media.istockphoto.com/id/1287162526/photo/alert-black-and-white-rabbit-on-a-purple-background.jpg?s=612x612&w=0&k=20&c=tvKtUW55ei4HcqwFmQ5ZstkLLxIhn3rg0KhscFMUgQk=" class="card-img-top" alt="Rabbit">
                <div class="card-body">
                    <h5 class="card-title">Rabbits</h5>
                    <p class="card-text">Cute and gentle pets that can be litter-trained.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img src="https://www.animalfunfacts.net/images/stories/pets/birds/cockatiel_funny_l.jpg" class="card-img-top" alt="Bird">
                <div class="card-body">
                    <h5 class="card-title">Birds</h5>
                    <p class="card-text">Colorful and melodious companions that can be trained to do tricks.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img src="https://img.freepik.com/premium-photo/baby-ferret-blue-background_369656-986.jpg" class="card-img-top" alt="Ferret">
                <div class="card-body">
                    <h5 class="card-title">Ferrets</h5>
                    <p class="card-text">Playful and curious creatures known for their mischievous antics.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img src="https://img.freepik.com/premium-photo/closeup-photo-american-guinea-pig-blue-background-premium-photo_249848-129.jpg" class="card-img-top" alt="Guinea Pig">
                <div class="card-body">
                    <h5 class="card-title">Guinea Pigs</h5>
                    <p class="card-text">Cute and gentle rodents that make great companions, known for their friendly nature.</p>
                </div>
            </div>
        </div>
    </div>
</div>
