@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center p-3">
    <h1 class="display-2 mt-5">Contact Us</h1>
    <p>Approach us through our different social outlets</p>
</div>
<hr class="" />
