@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center p-3">
    <h1 class="display-2 mt-5">Our Services</h1>
    <p>Your prime choice for animal training services</p>
</div>
<hr class="" />
